<!DOCTYPE>
<html>
<head>
  <title>Book App</title>
</head>
<body>
  <% bookList.forEach(function (book) { %>
    <div>
      <h2>
        <a href="/books/<%= book.id %>"><%= book.title %></a>
      </h2>
      <div>
        <%= book.author %>
      </div>
    </div>
  <% }) %>
</body>
</html>